build/
build-*/
*.bmsh
*.jmsh
*.bnii
__pycache__/
matlab/*.mex
matlab/*.mexa64
matlab/*.mexmaci64
matlab/*.mexmaca64
matlab/*.mexw64
pyv2mesh/v2mesh/_v2mesh*
*.egg-info/
.pytest_cache/
pyv2mesh/build/
wheelhouse/
dist/
pyv2mesh/v2mesh/_licenses/
